<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ciklum.insulinapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitiesPackage.SplashScreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activitiesPackage.Menu.MenuActivity" />
        <activity
            android:name=".activitiesPackage.Register.RegisterActivity"
            android:windowSoftInputMode="stateHidden" /> <!-- Hide software keyboard, cursor will still be visible -->
        <activity android:name=".activitiesPackage.Login.LoginActivity" />
        <activity android:name=".activitiesPackage.dashboardPackage.DashboardActivity" />
        <activity android:name=".activitiesPackage.calendarPackage.MyCalendar" />
        <activity android:name=".activitiesPackage.Notes.NotesActivity" />
        <activity
            android:name=".activitiesPackage.logBGPackage.LogBolusBGActivity"
            android:windowSoftInputMode="stateHidden" /> <!-- Hide software keyboard, cursor will still be visible -->
        >
        <activity android:name=".activitiesPackage.healthArticlesPackage.HealthArticlesActivity" />
        <activity android:name=".activitiesPackage.doctorsPackage.DoctorActivity" />
        <activity android:name=".activitiesPackage.disclaimerPackage.DisclaimerActivity" />
        <activity android:name=".activitiesPackage.doctorsPackage.AddDoctorActivity" />
        <activity android:name=".activitiesPackage.UserProfile.UserProfileActivity" />
        <activity android:name=".activitiesPackage.UserProfile.EditUserProfileActivity" />
        <activity android:name=".activitiesPackage.MedicineReminder.ReminderActivity" />

        <receiver android:name=".Models.AlarmReceiver" />

        <service
            android:name=".Models.RingtoneService"
            android:enabled="true" />

        <activity android:name=".activitiesPackage.logBGPackage.LogBasalBGActivity" />
        <activity android:name=".activitiesPackage.detailedReportsPackage.DetailedReportsActivity"></activity>
    </application>

</manifest>