<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ciklum.insulinapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.SplashScreen.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activities.Menu.MenuActivity" />
        <activity
            android:name=".Activities.Register.RegisterActivity"
            android:windowSoftInputMode="stateHidden" /> <!-- Hide software keyboard, cursor will still be visible -->
        <activity android:name=".Activities.Login.LoginActivity" />
        <activity android:name=".Activities.Dashboard.DashboardActivity" />
        <activity android:name=".Activities.Calendar.MyCalendar" />
        <activity android:name=".Activities.Notes.NotesActivity" />
        <activity
            android:name=".Activities.LogBG.LogBGActivity"
            android:windowSoftInputMode="stateHidden" /> <!-- Hide software keyboard, cursor will still be visible -->
        >
        <activity android:name=".Activities.HealthArticles.HealthArticlesActivity" />
        <activity android:name=".Activities.Doctors.DoctorActivity" />
        <activity android:name=".Activities.Disclaimer.DisclaimerActivity" />
        <activity android:name=".Activities.Doctors.AddDoctorActivity" />
        <activity android:name=".Activities.UserProfile.UserProfileActivity" />
        <activity android:name=".Activities.UserProfile.EditUserProfileActivity" />
        <activity android:name=".Activities.MedicineReminder.ReminderActivity"></activity>
        <receiver android:name=".Models.AlarmReceiver"/>
        <service android:name=".Models.RingtoneService"
            android:enabled="true"/>
    </application>

</manifest>